#root {
  margin: 0 auto;
  text-align: center;

  height: 100%;
  width: 100%;
}

.App {
  height: 100%;
  width: 100%;
  padding: clamp(48px, 8%, 70px) 0;
}

.theme {
  &--light {
    --background-image-url: url("/src/assets/images/bg-mobile-light.jpg");
    --background-color: #fafafa;

    --task-background: #ffffff;
    --task-shadow: #c2c3d688;

    --text: #494c6b;
    --gray-text: #9495a5;
    --crossed-out-text: #d1d2da;
    --blue-text: #3a7cfd;

    --divider: #979797;

    color: var(--text);
  }

  &--dark {
    --background-image-url: url("/src/assets/images/bg-mobile-dark.jpg");
    --background-color: #393a4b;

    --task-background: #25273d;
    --task-shadow: #00000088;

    --text: #c8cbe7;
    --gray-text: #767992;
    --crossed-out-text: #4d5067;
    --blue-text: #3a7cfd;

    --divider: #979797;

    color: var(--text);
  }
}

@media (min-width: 700px) {
  .theme {
    &--light {
      --background-image-url: url("/src/assets/images/bg-desktop-light.jpg");
    }

    &--dark {
      --background-image-url: url("/src/assets/images/bg-desktop-dark.jpg");
    }
  }
}

.content {
  width: max(300px, 87%);
  margin: 0 auto;
}

@media (min-width: 700px) {
  .content {
    width: max(609px, 38%);
  }
}

.heading {
  color: white;
  letter-spacing: 1.2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  user-select: none;

  &__theme-switch {
    cursor: pointer;
  }
}

.card {
  --radius: 5px;
  width: 100%;
  background-color: var(--task-background);
  padding: 1.1rem 1.3rem;
  border-radius: var(--radius);
  position: relative;

  &--shadowed {
    box-shadow: 0 35px 50px -15px var(--task-shadow);
  }

  &--active-drop-top {
    border-top: 1px solid red !important;
  }

  &--active-drop-bottom {
    border-bottom: 1px solid red !important;
    & + div {
      border-top: none !important;
    }
  }

  &:first-child {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  &:not(:first-child) {
    border-top: 1px solid var(--divider);
    border-radius: 0;
  }

  &:last-child {
    border-bottom-left-radius: var(--radius);
    border-bottom-right-radius: var(--radius);
  }
}

.checkbox {
  height: 1.25rem;
  width: 1.25rem;
  border-radius: 50%;
  border: 1px solid var(--divider);
  display: flex;
  justify-content: center;
  align-items: center;

  &--clickable {
    cursor: pointer;
    --hover-border: linear-gradient(
        var(--task-background),
        var(--task-background)
      ),
      linear-gradient(135deg, #55ddff, #c058f3);

    &:hover {
      border: 1px solid transparent;
      background-image: var(--hover-border);
      background-origin: border-box;
      background-clip: content-box, border-box;
    }
  }

  &--checked {
    --hover-border: linear-gradient(135deg, #55ddff, #c058f3),
      linear-gradient(135deg, #55ddff, #c058f3);
    border: 1px solid transparent;
    background-image: linear-gradient(135deg, #55ddff, #c058f3),
      linear-gradient(135deg, #55ddff, #c058f3);
    background-origin: border-box;
    background-clip: content-box, border-box;
  }
}

@media (max-width: 700px) {
  .checkbox {
    height: 2rem;
    width: 2rem;
  }
}

.task {
  display: flex;
  align-items: center;

  &__input {
    border: none;
    flex: 1;
    outline: none;
    padding: 0 1.3rem;
    line-height: 1;
    background-color: inherit;
    color: var(--text);

    &--checked {
      color: var(--gray-text);
      text-decoration: line-through;
    }
  }

  &__remove {
    cursor: pointer;
  }
}

@media (pointer: fine) {
  .task {
    &--entered {
      cursor: grab;
      &:active {
        cursor: grabbing;
      }

      &:hover {
        & > .task__remove {
          display: block;
        }
      }
    }

    &__remove {
      display: none;
      cursor: pointer;
    }
  }
}

.task-input {
  margin-bottom: 1rem;
}

.task-info {
  display: flex;
  position: relative;

  font-size: 0.75rem;
  margin-bottom: 2rem;

  color: var(--gray-text);

  & > * {
    flex: 1;
  }

  &__remaining {
    text-align: left;
  }

  &__filters {
  }

  &__clear-completed {
    text-align: right;
    cursor: pointer;

    &:hover {
      color: var(--text);
    }
  }
}

@media (max-width: 700px) {
  .task-info {
    margin-bottom: 6.5rem;
    font-size: 1rem;

    &__filters {
      --radius: 5px;
      position: absolute;
      bottom: -4.5rem;
      left: 0;

      width: 100%;
      background-color: var(--task-background);
      padding: 1.1rem 1.3rem;
      border-radius: var(--radius);
      box-shadow: 0 35px 50px -15px var(--task-shadow);
    }
  }
}

.filters {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 0;
  list-style-type: none;

  color: var(--gray-text);
  font-weight: 700;

  &__filter {
    cursor: pointer;

    &:hover {
      color: var(--text);
    }

    &--active {
      color: var(--blue-text);
    }
  }
}

.reorder-note {
  padding-bottom: 4rem;
  display: none;
}

@media (pointer: fine) {
  .reorder-note {
    display: block;
  }
}

.dropzone {
  height: 0.5rem;
  width: 100%;
  position: absolute;
  left: 0;

  &--bottom {
    bottom: 0;
  }

  &--top {
    top: 0;
  }
}
